.btn {
  border-radius: 12px;
  border: none;
  font-family: 'Source Code Pro', 'sans-serif';
  font-size: 16px;
}

.btn.top {
  background-color: #0d6efd;
  color: white;
}

.btn.bottom {
  background-color: #0d6efd;
}

.topbar {
  background-color: #ececec;
  padding-bottom: 20px;
  padding-top: 20px;
}

.topbar-text {
  font-family: 'Source Code Pro', 'sans-serif';
  font-size: 35px;
}

.databox {
  font-family: 'Source Code Pro', 'sans-serif';
  background-color: #ececec;
  padding-bottom: 40px;
  padding-top: 40px;
  border : solid black 2px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 150px;
  overflow: hidden;
}


.card-img-top {
  padding: 10px;
}

.card-body {
  font-family: 'Source Code Pro', 'sans-serif';
}

.blockquote {
  text-align: center;
  padding: 20px 30px;
}

.one {
  margin-bottom: 30px;
}

.two {
  margin-bottom:30px;
}

.three {
  margin-bottom: 30px;
}

.subdiv {
  font-family: 'Source Code Pro', 'sans-serif';
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.teamImage {
  width: 100%;
  height: auto;
}

.teamdata {
  background-color: #0d6efd;
  border-radius: 20px;
  margin-bottom: 30px;
  font-family: 'Source Code Pro', 'sans-serif';
}

.bottombar {
  font-family: 'Source Code Pro', 'sans-serif';
  margin-top: 40px;
}